@import "compass";
@import "singularitygs";
@import "breakpoint";

// ---------------------------------
// Breakpoints

$mq-small: 18.75em;
$mq-medium: 43.75em;
$mq-large: 56.25em;


// ---------------------------------
// Basic Grid

$output: 'isolation';
$grids: 3;
$grids: add-grid(2 6 at $mq-medium);
$grids: add-grid(2 7 4 at $mq-large);
$gutters: 1/3;


// ---------------------------------
// Grid Toggle
[data-development-grid="show"] .grid-wrap {
  @include background-grid;
}
[data-development-grid="show"] .box {
  outline: 1px solid red;
}

// ---------------------------------
// Grid Wrap
.grid-wrap {
  @include clearfix;
}

.layout-d {
  @include breakpoint($mq-medium) {
    .col-1 {
      @include isolation-span(1,2);
    }
    .col-2 {
      @include isolation-span(1,1);
    }
    .col-3 {
      @include isolation-span(1,2);
    }
  }
  @include breakpoint($mq-large) {
    .col-1 {
      @include isolation-span(1,2,'none');
    }
    .col-2 {
      @include isolation-span(1,3,'none');
    }
    .col-3 {
      @include isolation-span(1,1,'none');
    }
  }
}

// Grid Overrides!

.sub-grid-override {
  @include breakpoint($mq-medium) {
    @include clearfix();
    @include layout(4) {
      .col-1 {
        @include grid-span(4,1);
      }
      .col-2 {
        @include isolation-span(2,1,'both');
      }
      .col-3 {
        @include grid-span(2,3);
      }
    }
  }
  @include breakpoint($mq-large) {
    @include layout(3) {
      .col-1 {
        @include grid-span(1,3);
      }
      .col-2 {
        @include grid-span(1,2);
      }
      .col-3 {
        @include grid-span(1,1);
      }
    }
  }
}
