@import "compass";
@import "singularitygs";
@import "breakpoint";

// ---------------------------------
// Breakpoints

$mq-small: 18.75em;
$mq-medium: 43.75em;
$mq-large: 56.25em;


// ---------------------------------
// Basic Grid

$output: 'isolation';
$grids: 3;
$grids: add-grid(6 at $mq-medium);
$grids: add-grid(12 at $mq-large);
$gutters: 1/3;


// ---------------------------------
// Grid Toggle
[data-development-grid="show"] .grid-wrap {
  @include background-grid;
}
[data-development-grid="show"] .box {
  outline: 1px solid red;
}


// ---------------------------------
// Grid Wrap
.grid-wrap {
  @include clearfix;
}


// ---------------------------------
// Layout A

.layout-a {

  @include breakpoint($mq-medium) {
    .col-1 {
      @include grid-span(2,5);
    }
    .col-2 {
      @include grid-span(4,1);
    }
  }
  @include breakpoint($mq-large) {
    .col-1 {
      @include grid-span(3,1);
    }
    .col-2 {
      @include grid-span(9,4);
    }
  }
}


// ---------------------------------
// Layout B

.layout-b {

  @include breakpoint($mq-medium) {
    .col-1 {
      @include grid-span(2,1);
    }
    .col-2 {
      @include grid-span(2,3);
    }
    .col-3 {
      @include grid-span(2,5);
    }
  }
  @include breakpoint($mq-large) {
    .col-1 {
      @include grid-span(3,1);
    }
    .col-2 {
      @include grid-span(7,4);
    }
    .col-3 {
      @include grid-span(2,11);
    }
  }
}


// ---------------------------------
// Layout C

.layout-c {

  @include breakpoint($mq-medium) {
    .col-1 {
      @include isolation-span(3,1,'left');
    }
    .col-1:nth-child(even) {
      @include isolation-span(3,4,'right');
    }
    .col-2 {
      @include isolation-span(3,4,'right');
    }
    .col-3 {
      @include isolation-span(3,1,'left');
    }
  }
  @include breakpoint($mq-large) {
    .col-1,
    .col-1:nth-child(even) {
      @include isolation-span(4,1,'both');
    }
    .col-2 {
      @include grid-span(4,5);
    }
    .col-3 {
      @include grid-span(4,9);
    }
  }
}
